

@import "settings";
@import "foundation";

$ss-font-stack: "Open Sans", Helvetica, Arial, sans-serif;
$c-white: #fff;
$c-black: #000;
$c-pink: #FF938B;
$c-turq: #70E5D2;
$c-yellow: #FFF2B9;
$c-darkgray: #252525;
$c-lightgray: #ededed;

$c-font: #737373;


body {
	font-family: $ss-font-stack;
	overflow: auto;
	color: $c-darkgray;
}

a:link,a:visited,a:active {
	color: #fc691e;
	text-decoration: none;
}

a:hover {
	color: #b31327;
	text-decoration: none;
}

#site {
	padding: 5em;
	color: #4a4a4a;
}

#title {
	margin-bottom: 0;
	padding: 0.5em;
	text-align: center;

	#subtitle {
		margin-top: 0.5em;
		font-size: 1em;
		color: #d0d0d0;
		font-weight: normal;
		text-transform: lowercase;
	}

	#description {
		font-size: 0.8em;
		line-height: 1.8em;
		text-transform: none;
		margin-top: 1em;
		font-weight: normal;
	}

	#contact {
	font-size: 0.75em;
}

}

#logo {
	background-image: url('../images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
	height: 200px;
	float: left;
	box-sizing: border-box;
}

#name {
	height: 200px;
	line-height: 200px;
	text-align: center;
}


#content {
	font-family: "Merriweather", $ss-font-stack;
	font-size: 1em;
	line-height: 2em;
	color: $c-font;
	text-align: justify;
	clear: left;
}

#navigation {
	text-align: center;
	padding: 1em;
	font-size: 1.3em;
	font-style: italic;

	img {
		height: 2em;
		margin-left: 4em;
		margin-right: 4em;
	}
}

.divider {
	height: 30px;
	background-image: url('../images/divider.png');
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 10px 0 10px 0;
}

h3 {
	text-align: center;
	color: #eab894;
	font-family: "Merriweather", $ss-font-stack;
	font-weight: bold;

	margin-bottom: 10px;
}

h4 {
	text-align: center;
	font-family: "Raleway",$ss-font-stack;
	color: #749659;
	font-weight: bold;
}

.overlay {
	text-align: left;
	opacity: 0.8;
	letter-spacing: 5px;
	text-transform: lowercase;
	color: #cc4554;
	margin-top: 0px;
}

.date {
	font-size: 0.8em;
	color: $c-font;
	font-family: "Raleway", $ss-font-stack;
	margin-left: 3em;
	font-weight: normal;
}

.ui, .proj {
	margin-bottom: 3em;
}

.url {
	margin-left: 3em;
	font-family:"Raleway", $ss-font-stack;
	font-size: 0.8em;
}